<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarot Nana</title>
    <!-- CSS 연결 -->
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <!-- 메인 카드 -->
    <div class="card">
        <h1>Tarot Nana</h1>
        <input type="text" placeholder="Input ID" class="input-field">
        <input type="password" placeholder="Input PW" class="input-field">
        <button class="btn">Login</button>
        <button class="btn">Sign Up</button>
    </div>
    <!-- Footer -->
    <footer>
        <p>Copyright &copy; Tarot Nana 2025</p>
    </footer>
</body>
</html>
