{% extends 'base.html' %}
{% block content %}
<!-- 메인 카드 -->
<div class="card">
    <h1>Tarot Nana</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            <!-- {{ form.id.label }} -->
            {{ form.id(class_="input-field", placeholder="Input ID") }}
            {% if form.id.errors %}
                <p class="error">{{ form.id.errors[0] }}</p>
            {% endif %}
        </div>
        <div>
            <!-- {{ form.pw.label }} -->
            {{ form.pw(class_="input-field", placeholder="Input PW") }}
            {% if form.pw.errors %}
                <p class="error">{{ form.pw.errors[0] }}</p>
            {% endif %}
        </div>
        {% if error %}
            <p class="error" style="color: red;">{{ error }}</p>
        {% endif %}
        <button type="submit" class="btn">Login</button>
    </form>
    <div>
        <a href="/signup" class="btn">Sign Up</a>
    </div>
</div>
{% endblock %}
