{% extends 'base.html' %}
{% block content %}
<div class="card">
    <h1>Sign Up</h1>
    <form method="POST">
        {{ form.csrf_token }}
        
        <!-- 입력 형태 검증 오류 -->
        {% if form.errors %}
        <div class="content-box">
            <div class="alert alert-danger" role="alert" >
                {% for field, errors in form.errors.items() %}
                <strong>{{ form[field].label }}</strong>
                <ul>
                    {% for error in errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        <!-- flash 오류 -->
        {% for message in get_flashed_messages() %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
        {% endfor %}


        <!-- 입력 필드 -->
        <div>
            {{ form.id(class_="input-field", placeholder="Input ID", id="user_id") }}
            <button type="button" class="btn" id="check-button">Check</button>
        </div>

        <!-- 메시지 표시 영역 -->
        <div id="id-check-message" style="margin-top: 10px;"></div>

        <div>
            {{ form.pw(class_="input-field", placeholder="Input PW") }}
        </div>

        <div>
            {{ form.pw2(class_="input-field", placeholder="Confirm PW") }}
        </div>

        <div>
            {{ form.nickname(class_="input-field", placeholder="Nickname") }}
        </div>

        <!-- Submit 버튼 -->
        <button type="submit" class="btn">Submit</button>
    </form>
</div>

<!-- JavaScript 연결 -->
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

{% endblock %}

